<section class="post-form">
    <form id="editPostForm" action="/posts" method="PUT">
      <h2>Edit Post</h2>
      <input type="text" id="editpostTitle" placeholder="Enter title" required name="title"><br><br>
      <textarea id="editpostContent" placeholder="Enter content" required name="body"></textarea><br><br>

      <button id="save" type="submit">Save</button>
    </form>
  </section>