<header>
    <div class="container">
        <nav>
            <ul class="left-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/new">New</a></li>
                <li><a href="/popular">Popular</a></li>
                <!-- Dropdown for Categories -->
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Categories</button>
                        <div class="dropdown-content">
                            <a href="#">Technology</a>
                            <a href="#">Science</a>
                            <a href="#">Health</a>
                            <a href="#">Education</a>
                            <a href="#">LifeStyle</a>
                            <a href="#">Entertainment</a>
                            <a href="#">Sports</a>
                            <a href="#">Politics</a>
                            <a href="#">Art</a>
                            <a href="#">Travel</a>

                        </div>
                    </div>
                </li>
            </ul>
            <ul class="right-nav">
                <% if(user) { %>
                    <li><a id="createPost">Create post</a></li>
                    <li><a href="/profile/<%= user._id %>">Profile</a></li>
                    <li><a href="/logout">Log out</a></li>
                    <% } else { %>
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/signup">Sign up</a></li>
                        <% } %>
            </ul>
        </nav>
    </div>
</header>