<!DOCTYPE html>
<html lang="en">
    <!--Head Section-->
    <%- include("./partials/head.ejs") %>
<body>

    <!-- Header Section -->
    <%- include("./partials/header.ejs") %>

    <!-- Main Content -->
    <main>
        <div class="container">

            <!-- Create Post Form -->
            <%- include('partials/createPostForm.ejs') %>

                <h2>Statistics</h2>
             </div>
    </main>

    <!-- Footer Section -->
    <%- include("./partials/footer.ejs") %>
</body>
</html>
